#btn-change{
    border: none;
    box-shadow: none;
    outline: none;
    width: 250px;

 }

 #btn-confirm{
    border: none;
    box-shadow: none;
    outline: none;
    width: 250px;

 }

 #btn-next{
    border: none;
    box-shadow: none;
    outline: none;
    width: 250px;

 }

